<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Containers App</title>
  <script type="text/javascript" src="zepto.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="gmaps.js"></script>
  <link rel="stylesheet" type="text/css" href="map.css" />
  <script type="text/javascript">
    var map, lat, lng, cont;
    cont = 0;

    $(function(){

      function enlazarMarcador(e){

       // muestra ruta entre marcas anteriores y actuales
        map.drawRoute({
          origin: [lat, lng],  // origen en coordenadas anteriores
          // destino en coordenadas del click o toque actual
          destination: [e.latLng.lat(), e.latLng.lng()],
          travelMode: 'driving',
          strokeOpacity: 0.6,
          strokeColor: '#0000FF',
          strokeWeight: 5
        });

        lat = e.latLng.lat();   // guarda coords para marca siguiente
        lng = e.latLng.lng();

        if(cont < 3) {
          map.addMarker({ lat: lat, lng: lng, icon: './images/yellow_cont.png'});  // pone marcador en mapa
          cont++;
        } else {
          map.addMarker({ lat: lat, lng: lng, icon: './images/red_cont.png'});  // pone marcador en mapa
        }

      };

      function locate(){ 
        lat = 37.174758;    // lat & lng of Playmobil Club, Granada (Spain)
        lng = -3.607410;

        map = new GMaps({   // show map with coords [lat, lng]
          el: '#map',
          lat: lat,
          lng: lng,
          click: enlazarMarcador,
          tap: enlazarMarcador
        });
        map.addMarker({ lat: lat, lng: lng, icon: './images/green_cont.png'});  // marker in [lat, lng]
        cont++;
      };

      locate();
    });
  </script>
</head>
<body>
    <h1><span class="casered">containers</span><span class="casegreen">app</span></h1>

    <div id="map"></div>  
</body>
</html>