<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Containers App</title>
  <script type="text/javascript" src="zepto.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="gmaps.js"></script>
  <link rel="stylesheet" type="text/css" href="map.css" />
</head>
<body>
    <h1><span class="casered">containers</span><span class="casegreen">app</span></h1>

    <div id="form">
      
      <p>Container ID: <input type="text" id="id"></p>
      <p>
        Latitude: <input type="text" id="lat" value="latitude">, 
        Longitude: <input type="text" id="lng" value="longitude">
      </p>
      <p>Filling level: <input type="text" id="level" value="Filling level">%</p>

      <button type="button" onclick="show()">show</button>
      <button type="button" onclick="create()">create</button>
      <button type="button" onclick="update()">update</button>
      <button type="button" onclick="delete()">delete</button>
    </div>  

    <div id="res" class="result"></div>
    <div id="db" class="result"></div>
</body>
<script type="text/javascript">
  var id, lat, lng, level;
  var cont = 0;

  function show() {
    id = document.getElementById('id').value;

    //if (id == "")
      refresh();
    //else  
    //  showContainer(id);
  }

  function create () {
    lat = document.getElementById('lat').value;
    lng = document.getElementById('lng').value;
    level = document.getElementById('level').value;

    document.getElementById('res').innerHTML = "DB";

    //if (level == "") {
      $.get("/create", {
        "lat": lat,  
        "lng": lng,  
        "level": level
      }, function (data, textStatus, jqXHR) { 
        document.getElementById('res').innerHTML = data;
      });
    //} else {
    //}

    refresh();  // function in containers.js
  }

  function refresh () {
    $.get("http://localhost:3000/containers", function (data, textStatus, jqXHR) { 
        document.getElementById('res').innerHTML = data;
      });

    // var aClient = new HttpClient();
    // aClient.get('http://localhost:3000/containers', function(data) {
    //   document.getElementById('res').innerHTML = data;
    //     // do something with answer
    // });

    // $(document).ready(function(){
    //   $.ajax({
    //     url: "http://localhost:3000/containers",
    //     dataType: 'jsonp',
    //     success: function(data){
    //       $('#res').html(data);
    //     }
    //   });
    // });
  };

  var HttpClient = function() {
    this.get = function(aUrl, aCallback) {
      var anHttpRequest = new XMLHttpRequest();
      anHttpRequest.onreadystatechange = function() { 
        if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
          aCallback(anHttpRequest.responseText);
      }

      anHttpRequest.open( "GET", aUrl, true );            
      anHttpRequest.send( null );
    }
  }
    
</script>
</html>

















